<footer>
    <div class="social-icons">
        <ul>
            <li>
                <a href="https://www.facebook.com/TrackHubBulgaria/">
                    <i class="fab fa-facebook fa-2x" title="Facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCn6rztr6LPlWnTNKK3NcJvg">
                    <i class="fab fa-youtube fa-2x" title="Youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/trackhub">
                    <i class="fab fa-github fa-2x" title="GitHub"></i>
                </a>
            </li>
        </ul>
    </span>
    </div>
    <ul>
        <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
        <li><a href="{{ path('app_privacy_policy') }}">{{ 'Privacy Policy'|trans }}</a></li>
        <li><a href="{{ path('app_tos') }}">{{ 'Terms of Service'|trans }}</a></li>
    </ul>
    <p class="copyright">Icon made by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a> from <a href="https://www.flaticon.com">www.flaticon.com</a></p>
    <p class="copyright">track-hub.com © 2019</p>
</footer>