{% extends "base.html.twig" %}

{% block content %}

    <style>
        .track_images {
            height: 300px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap;
        }

        .track_images img {
            max-width: 300px;
            max-height: 300px;
        }

        #file_upload_progress img {
            max-width: 300px;
            max-height: 300px;
        }

        #file_upload_progress div {
            padding-top: 10px;
        }

        .upload_progress_text {
            background-color: black;
            color: white;
            max-width: 300px;
        }
    </style>

    <h1>{{ track.name }}</h1>

    {% if canEdit %}
        <a href="{{ path('app_track_edit', {id: track.id}) }}" class="btn btn-info">Edit</a>
<<<<<<< HEAD
        <a href="{{ path('gps-new-version', {id:track.id}) }}" class="btn btn-info">add new version</a>
        <input id="file_input" type="file" name="files[]" multiple accept="image/jpeg, image/png">
        <div class="container">
            <div id="file_upload_progress" class="row">

            </div>
        </div>

        <script>
            document.getElementById('file_input').addEventListener('change', function() {
                for (let i = 0; i < this.files.length; i++) {
                    let previewDiv = document.createElement('div');
                    previewDiv.classList.add('col');
                    let previewImg = document.createElement('img');

                    let fileReader = new FileReader();
                    fileReader.onload = function() {
                        let output = previewImg;
                        output.src = fileReader.result;
                    };
                    fileReader.readAsDataURL(this.files[i]);

                    previewDiv.appendChild(previewImg);
                    document.getElementById('file_upload_progress').appendChild(previewDiv);

                    let progressText = document.createElement('div');
                    progressText.classList.add('upload_progress_text');
                    progressText.innerText = 'pending';
                    previewDiv.appendChild(progressText);

                    if (this.files[i].size > 32 * 1024 * 1024) {
                        progressText.innerText = 'File is too big';

                        return;
                    }

                    let formData = new FormData();
                    formData.append('file', this.files[i]);
                    formData.append('token', {{ csrf_token('file_upload')|json_encode|raw }})
                    let xhr = new XMLHttpRequest();

                    xhr.upload.addEventListener('progress', function(e) {
                        const percent_complete = ((e.loaded / e.total)*100).toFixed(1);
                        progressText.innerText = percent_complete.toString() + '%';
                    });

                    xhr.addEventListener('load', function(e) {
                        let responseObject = JSON.parse(xhr.response);
                        if (responseObject.status === 0) {
                            progressText.innerText = {{ 'Uploaded'|json_encode|raw }};
                        } else {
                            progressText.innerText = responseObject.error;
                        }
                    });

                    xhr.open('POST', {{ path('track-new-image', {id: track.id})|json_encode|raw }}, true);
                    xhr.send(formData);
                }
            });
        </script>
        <a href="{{ path('gps-new-version', {id: track.id}) }}" class="btn btn-info">add new version</a>
    {% endif %}

    <hr>

    <!--- Initialize map --->
    <div style="height: 50vh; min-height: 300px; width: 100%;" id="map"></div>
    <script>
        const map = L.map('map', {
                gestureHandling: true,
                center:[
                    ({{ track.pointNorthEastLat }} + {{ track.pointSouthWestLat }}) / 2,
                    ({{ track.pointSouthWestLng + track.pointNorthEastLng}}) / 2
                ],
                zoom: 12
            }
        );
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    <br>

    <form method="post" action="{{ path('app_track_download_batch') }}">
        <table class="table">
            <tr>
                <td></td>
                <td>climb</td>
                <td>descent</td>
                <td>Rating</td>
                <td>include in export</td>
            </tr>
            <!--- Render versions on map --->
            {% include "include/mapVersion.html.twig" with { "versions" : track.versions, "color" : 'red', 'class' : 'main' } only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.UphillVersions(true), "color" : "blue", 'class' : 'uphill'} only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.downhillVersions(true), "color" : "yellow", 'class' : 'downhill' } only %}
        </table>

        <a class="btn btn-success" href="{{ path('gps-download', {id: track.id}) }}">download main track</a>
        <input type="submit" class="btn btn-success" value="download selected versions">
    </form>

    <div class="chart-container" style="height: 300px;" id="elevation-container" data-labels="{{ elevationLabels|json_encode|e('html_attr') }}"  data-datasets="{{ elevationData|json_encode|e('html_attr') }}">
        <canvas id="elevation" width="400" height="300">
            Elevation plot can't be shown!
            Your browser doesn't support canvas elements.
        </canvas>
    </div>

    <div>
        {% for youtube in track.videosYoutube %}
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{ youtube.link }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        {% endfor %}
    </div>

    <div class="track_images" >
        {% for image in track.images %}
            <a href="{{ app_track_images_directory }}/{{ image.filepath }}"
               data-toggle="lightbox"
               data-gallery="track-images"
               data-footer="&lt;a target=&quot;_blank&quot; href=&quot;{{ app_track_images_directory }}/{{ image.filepath }}#&quot;&gt;{{ 'View full size'|trans() }}&lt;/a&gt;"
            >
                <img src="{{ app_track_images_thumbnails_directory }}/{{ image.filepath }}">
            </a>
        {% endfor %}
    </div>
    {% include "include/ratingModal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('view') }}
{% endblock %}
