{% extends "base.html.twig" %}

{% block content %}

    <h1>{{ track.name }}</h1>

    {% if canEdit %}
        <a href="{{ path('app_track_edit', {id: track.id}) }}" class="btn btn-info">{{ 'Edit'|trans }}</a>
        <a href="{{ path('gps-new-version', {id: track.id}) }}" class="btn btn-info">{{ 'Add new version'|trans }}</a>
    {% endif %}

    <hr>

    <!--- Initialize map --->
    <div style="height: 50vh; min-height: 300px; width: 100%;" id="map"></div>
    <script>
        const map = L.map('map', {
                gestureHandling: true,
                center:[
                    ({{ track.pointNorthEastLat }} + {{ track.pointSouthWestLat }}) / 2,
                    ({{ track.pointSouthWestLng + track.pointNorthEastLng}}) / 2
                ],
                zoom: 12
            }
        );
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    <br>

    <form method="post" action="{{ path('app_track_download_batch') }}">
        <table class="table">
            <tr>
                <td></td>
                <td>{{ 'Climb'|trans }}</td>
                <td>{{ 'Descent'|trans }}</td>
                <td>{{ 'Rating'|trans }}</td>
                <td>{{ 'Include in export'|trans }}</td>
            </tr>
            {# Render versions on map #}
            {% include "include/mapVersion.html.twig" with { "versions" : track.versions, "color" : 'red', 'class' : 'main' } only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.UphillVersions(true), "color" : "blue", 'class' : 'uphill'} only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.downhillVersions(true), "color" : "yellow", 'class' : 'downhill' } only %}
        </table>

        <a class="btn btn-success" href="{{ path('gps-download', {id: track.id}) }}">{{ 'Download main track'|trans }}</a>
        <input type="submit" class="btn btn-success" value="{{ 'Download selected versions'|trans }}">
    </form>

    <div class="chart-container" style="height: 300px;" id="elevation-container" data-labels="{{ elevationLabels|json_encode|e('html_attr') }}"  data-datasets="{{ elevationData|json_encode|e('html_attr') }}">
        <canvas id="elevation" width="400" height="300">
            Elevation plot can't be shown!
            Your browser doesn't support canvas elements.
        </canvas>
    </div>

    <div>
        {% for youtube in track.videosYoutube %}
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{ youtube.link }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        {% endfor %}
    </div>

    {% include "include/ratingModal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('view') }}
{% endblock %}
