{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ track.name(app.request.locale) }}</h1>

    {% if canEdit %}
        <a href="{{ path('app_track_edit', {id: track.id}) }}" class="btn btn-info">{{ 'Edit'|trans }}</a>
        <a href="{{ path('gps-new-version', {id: track.id}) }}" class="btn btn-info">{{ 'Add new version'|trans }}</a>
    {% endif %}

    {% if app.user %}
        <label for="file_input" class="btn btn-success mb-0">{{ 'Add pictures'|trans }}</label>
        <input  id="file_input" style="visibility: hidden;" type="file" name="files[]" multiple accept="image/jpeg, image/png">
        <div class="container">
            <div id="file_upload_progress" class="row"></div>
        </div>
    {% else %}
        <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-success">{{ 'Add pictures'|trans }}</a>
    {% endif %}

    {% if track.description(app.request.locale) %}
        <hr>
        {{ track.description(app.request.locale)|nl2br }}
    {% endif %}

    <hr>

    <!--- Initialize map --->
    <div style="height: 50vh; min-height: 300px; width: 100%;" id="map"></div>
    <script>
        const map = L.map('map', {
                gestureHandling: true,
            }
        );

        map.addControl(new MapControlFullScreen());

        map.fitBounds([
            [{{ track.pointNorthEastLat }}, {{ track.pointNorthEastLng }}],
            [{{ track.pointSouthWestLat }}, {{ track.pointSouthWestLng }}],
        ]);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    <br>

    <form method="post" action="{{ path('app_track_download_batch') }}">
        <table class="table table-sm table-difficulty">
            <tr>
                <td></td>
                <td>{{ 'Climb'|trans }}</td>
                <td>{{ 'Descent'|trans }}</td>
                <td>{{ 'Rating'|trans }}</td>
                <td>{{ 'Difficulty'|trans }}</td>
                <td>{{ 'Include in export'|trans }}</td>
            </tr>
            {# Render versions on map #}
            {% include "include/mapVersion.html.twig" with { "versions" : track.versions, "color" : 'red', 'class' : 'main' } only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.UphillVersions(true), "color" : "blue", 'class' : 'uphill'} only %}
            {% include "include/mapVersion.html.twig" with { "versions" : track.downhillVersions(true), "color" : "yellow", 'class' : 'downhill' } only %}
        </table>

        <a class="btn btn-success" href="{{ path('gps-download', {id: track.id}) }}">{{ 'Download main track'|trans }}</a>
        <input type="submit" class="btn btn-success" value="{{ 'Download selected versions'|trans }}">
    </form>

    <div class="chart-container" style="height: 300px;" id="elevation-container" data-labels="{{ elevationLabels|json_encode|e('html_attr') }}"  data-datasets="{{ elevationData|json_encode|e('html_attr') }}">
        <canvas id="elevation" width="400" height="300">
            Elevation plot can't be shown!
            Your browser doesn't support canvas elements.
        </canvas>
    </div>

    <div>
        {% for youtube in track.videosYoutube %}
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{ youtube.link }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        {% endfor %}
    </div>

    {% if track.images is not empty %}
        <div class="uploaded_images" >
            {% for image in track.images %}
                <a href="{{ app_track_image(image, 1280, 720) }}"
                   data-toggle="lightbox"
                   data-gallery="track-images"
                   data-footer="&lt;a target=&quot;_blank&quot; href=&quot;{{ app_track_image(image, 3840, 2160) }}#&quot;&gt;{{ 'View full size'|trans() }}&lt;/a&gt;"
                >
                    <img src="{{ app_track_image(image, 300, 300) }}">

                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% include "include/ratingModal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('view') }}

        <script>
            {# upload element doesn't exists if user is not logged in #}
            {% if app.user %}
                jsImageUpload(
                    document.getElementById('file_input'),
                    {{ csrf_token('file_upload')|json_encode|raw }},
                    {{ path('track-new-image', {id: track.id})|json_encode|raw }},
                    {
                        'uploaded': {{ 'Uploaded'|json_encode|raw }}
                    }
                );
            {% endif %}

            jQuery(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                jQuery(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        </script>
{% endblock %}
