{% extends "base.html.twig" %}

{% block content %}

    <h1>{{ gps.name }}</h1>

    {% for file in gps.files %}
        <a class="btn btn-success" href="{{ path('gps-download', {id: file.id}) }}">download, version {{ loop.revindex }}</a>
    {% endfor %}

    <hr>

    <div style="height: 800px; width: 1000px;" id="map"></div>

    <script>
        var map = L.map('map').setView(
            [
                ({{ gps.pointNorthEastLat }} + {{ gps.pointSouthWestLat }}) / 2,
                ({{ gps.pointSouthWestLng + gps.pointNorthEastLng}}) / 2
            ],
            12
        );
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var latlngs = [];
        {%  for point in gps.points %}

            {% if loop.first %}
                L.marker([{{ point.lat }}, {{ point.lng }}]).addTo(map)
                    .bindPopup('Start');
            {% endif %}
            {% if loop.last %}
                L.marker([{{ point.lat }}, {{ point.lng }}]).addTo(map)
                    .bindPopup('End');
            {% endif %}

            latlngs.push([
                {{ point.lat }},
                {{ point.lng }}
            ]);
        {% endfor %}

        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);

    </script>
{% endblock %}