{% extends "base.html.twig" %}

{% block content %}

    {% for file in gps.files %}
        <a href="{{ path('gps-download', {id: file.id}) }}">download</a>
    {% endfor %}

    <div style="height: 800px; width: 1000px;" id="map"></div>

    <script>
        var map = L.map('map').setView([42.9, 24.45], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var latlngs = [];
        {%  for point in gps.points %}

        {% if loop.index0 == 0 %}
        L.marker([{{ point.lat }}, {{ point.lon }}]).addTo(map)
            .bindPopup('Start');
            // .openPopup();
        {% endif %}

            latlngs.push([
                {{ point.lat }},
                {{ point.lon }}
            ]);
        {% endfor %}

        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);

    </script>
{% endblock %}