<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% include "include/head.html.twig" %}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
                integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
                crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-gesture-handling@1.1.8/dist/leaflet-gesture-handling.js"
                crossorigin=""></script>
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <nav class="container-fluid">
            <div class="row">
                <div class="col">
                    <a href="{{ path('home') }}">{{ 'Home'|trans }}</a>
                    |
                    <a href="{{ path('gps-new') }}">{{ 'Add track'|trans }}</a>
                </div>

                <div class="col">
                    {% if app.user %}
                        {{ app.user.username }}
                        |
                        <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
                        |
                        <a href="{{ path('app_user_download_personal_data') }}">
                            Download personal data
                        </a>
                    {% else %}
                        <a href="{{ path("hwi_oauth_connect") }}">{{ 'Log in'|trans }}</a>
                    {% endif %}
                </div>

                <div class="col">
                    <a href="{{ path('home', { _locale: 'en' }) }}">en</a>
                    <a href="{{ path('home', { _locale: 'bg' }) }}">bg</a>
                </div>
            </div>
            <hr>
        </nav>
        {% block content %}{% endblock %}
        <hr>

        <footer>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a href="{{ path('home') }}" class="nav-link">© track-hub.com</a></li>
                    <li class="nav-item"><a href="{{ path('app_privacy_policy') }}" class="nav-link">{{ 'Privacy Policy'|trans }}</a></li>
                    <li class="nav-item"><a href="{{ path('app_tos') }}" class="nav-link">{{ 'Terms of Service'|trans }}</a></li>
                    <li class="nav-item">
                        Icon made by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>
                        from <a href="https://www.flaticon.com">www.flaticon.com</a>
                    </li>
                </ul>
            </nav>
        </footer>


        {% include "include/foot.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
