<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}track-hub.com free gps tracks{% endblock %}</title>
        <meta >
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
                integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
                crossorigin=""></script>

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        <script>
            jQuery(window).resize(function() {
                // 45 for bootstrap body margin
                jQuery('#map').width(window.innerWidth - 45);

                // top menu 120px
                jQuery('#map').height(window.innerHeight - 120);
            });

            jQuery(document).ready(function() {
                // osm map have onWindowResize listener, updating the map if needed
                // we chacged the div size, so we need to redraw the map
                window.dispatchEvent(new Event('resize'));
            });
        </script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="container-fluid">
            <div class="row">
                <div class="col">
                    <a href="{{ path('home') }}">{{ 'Home'|trans }}</a>
{#                    temporary disabled#}
{#                    <a href="{{ path('gps-new') }}">{{ 'Add track'|trans }}</a>#}
                </div>

                <div class="col">
                    {#                    temporary disabled#}
                    {% if app.user %}
                        {{ app.user.username }}
                        <a href="{{ path('app_logout') }}">logout</a>
                    {% else %}
{#                        <a href="{{ path("hwi_oauth_connect") }}">{{ 'Log in'|trans }}</a>#}
                    {% endif %}
                </div>

                <div class="col">
                    <a href="{{ path('home', { _locale: 'en' }) }}">en</a>
                    <a href="{{ path('home', { _locale: 'bg' }) }}">bg</a>
                </div>
            </div>
            <hr>
            {% block content %}{% endblock %}
        </nav>
    {% block javascripts %}{% endblock %}

    <hr>

    <footer>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link">© track-hub.com</a></li>
                <li class="nav-item"><a href="{{ path('app_privacy_policy') }}" class="nav-link">{{ 'Privacy Policy'|trans }}</a></li>
                <li class="nav-item"><a href="{{ path('app_tos') }}" class="nav-link">{{ 'Terms of Service'|trans }}</a></li>
                <li class="nav-item">
                    Icon made by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>
                    from <a href="https://www.flaticon.com">www.flaticon.com</a>
                </li>
            </ul>
        </nav>
    </footer>
    </body>
</html>
