<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% include "include/head.html.twig" %}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
                integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
                crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-gesture-handling@1.1.8/dist/leaflet-gesture-handling.js"
                crossorigin=""></script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
                integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg=="
                crossorigin=""></script>

        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <nav class="container-fluid">
            <div class="row">
                <div class="col">
                    <a href="{{ path('home') }}">{{ 'Home'|trans }}</a>
                    |
                    <a href="{{ path('gps-new') }}">{{ 'Add track'|trans }}</a>
                    |
                    <a href="{{ path('app_places') }}">{{ 'Places'|trans }}</a>
                    |
                    <a href="{{ path('app_place_new') }}">{{ 'Add place'|trans }}</a>
                </div>

                <div class="col">
                    {% if app.user %}
                        {{ app.user.username }}
                        |
                        <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
                        |
                        <a href="{{ path('app_user_download_personal_data') }}">
                            Download personal data
                        </a>
                    {% else %}
                        <a href="{{ path("hwi_oauth_connect") }}">{{ 'Log in'|trans }}</a>
                    {% endif %}
                </div>

                <div class="col">
                    {% for language in languages %}
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': language.code }))}}">{{ language.code }}</a>

                    {% endfor %}

                </div>
            </div>
            <hr>
        </nav>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
        <hr>

        {% include "include/footer.html.twig" %}
        {% include "include/foot.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
