<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <ul class="nav">
            <li class="nav-link"><a href="/">home</a></li>
            <li class="nav-link"><a href="{{ path('gps-new') }}">new</a></li>
            <li class="nav-link">
                {% if app.user %}
                    {{ app.user }},
                    <a href="{{ path('fos_user_security_logout') }}">logout</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">login,</a>
                    <a href="{{ path('fos_user_registration_register') }}">sign up</a>
                {% endif %}

            </li>
        </ul>
    </div>
    <hr>
    {% block content %}{% endblock %}
</div>
    {% block javascripts %}{% endblock %}
</body>
</html>
