<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
                integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
                crossorigin=""></script>

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        <script>
            jQuery(document).ready(function() {
                console.log('ok');
                // !!!!!!!!!!!!!!!!!!!!!!!!
                // @FIXME resuze map!!!!!!!
                // !!!!!!!!!!!!!!!!!!!!!!!!
            });
        </script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <ul class="nav">
                    <li class="nav-link"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
                    <li class="nav-link"><a href="{{ path('gps-new') }}">{{ 'Add track'|trans }}</a></li>
                    {% if app.user %}
                        <li class="nav-link">{{ app.user.username }}
                        <li class="nav-link"><a href="{{ path('app_logout') }}">logout</a>
                    {% else %}
                        <li class="nav-link"><a href="{{ path("hwi_oauth_connect") }}">{{ 'Log in'|trans }}</a></li>
                    {% endif %}
                </ul>

                <ul class="nav">
                    <li class="nav-link"><a href="{{ path('home', { _locale: 'en' }) }}">en</a></li>
                    <li class="nav-link"><a href="{{ path('home', { _locale: 'bg' }) }}">bg</a></li>
                </ul>
            </div>
            <hr>
            {% block content %}{% endblock %}
        </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
